<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>New Status for Project Request</title>
</head>
<body>
<h1>Project Request</h1>
<p><h4>Project Name:</h4>{{projectName}}</p>
<p><h4>Requestor Name:</h4> {{requestorName}}</p>
<p><h4>Desired Completion Date:</h4>{{completionDate}}</p>

<p><h4>Request Description:</h4>{{description}} </p>
<p><h4>Request Changes:</h4> {{changes}}</p>
<p><h4>Request Reason:</h4>{{reason}} </p>
<p><h4>Request Effects On Organization:</h4> {{effects}}</p>


<p><h4>Departments Affected:</h4>{{departments}} </p>
<p><h4>PriorityLevel:</h4>{{priority}}</p>
<p><h4>Business Justification:</h4>{{businessJustification}}</p>
</body>
</html>