@model Project.Models.ProjectRequestViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="font-weight:200">Create a Request</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-group-append mb-md-4">
                <label asp-for="RequestorName" class="control-label col-form-label"></label>
                <input type="text" asp-for="RequestorName" class="form-control mx-md-2" />
                @*Checking for validation*@
                <span asp-validation-for="RequestorName" class="text-danger"></span>

                <label asp-for="DesiredCompletionDate" class="control-label col-form-label"></label>
                <input asp-for="DesiredCompletionDate" class="form-control mx-md-2" />
                <span asp-validation-for="DesiredCompletionDate" class="text-danger "></span>
            </div>
            <div class="form-group">
                <label asp-for="RequestReason" class="control-label"></label>
                <span asp-validation-for="RequestReason" class="text-danger"></span>
                <textarea asp-for="RequestReason" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestDescription" class="control-label"></label>
                <span asp-validation-for="RequestDescription" class="text-danger"></span>
                <textarea asp-for="RequestDescription" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestChanges" class="control-label"></label>
                <span asp-validation-for="RequestChanges" class="text-danger"></span>
                <textarea asp-for="RequestChanges" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="RequestEffectsOnOrganization" class="control-label"></label>
                <span asp-validation-for="RequestEffectsOnOrganization" class="text-danger"></span>
                <textarea asp-for="RequestEffectsOnOrganization" class="form-control"> </textarea>
            </div>
            <div class="form-group">
                <label asp-for="EstimateTimeFrame" class="control-label"></label>
                <span asp-validation-for="EstimateTimeFrame" class="text-danger"></span>
                <textarea asp-for="EstimateTimeFrame" class="form-control"> </textarea>
            </div>
            @*Priority Level*@
            <div class="input-group mb-4">
                <label asp-for="PriorityLevel" class="input-group-text ">Priority Level</label>
                <select asp-for="PriorityLevel">
                    <option selected></option>
                    <option value="Low">        Low         </option>
                    <option value="Medium">     Medium      </option>
                    <option value="High">       High        </option>
                    <option value="Emergency">  Emergency   </option>
                </select>
                <span asp-validation-for="PriorityLevel" class="text-danger mx-md-2"></span>
            </div>
            @*Business Justification*@
            <p>Business Justification and Strategic Benefit</p>
            @{
                List<string> justifications = new List<string>();
                justifications.Add("Cost Savings");
                justifications.Add("Increased Revenue");
                justifications.Add("Increased Efficiencies");
                justifications.Add("Regulatory");
                justifications.Add("Compliance");
                justifications.Add("Upgrade");
                justifications.Add("Retention");
            }
            <div class="input-group col-form-label">
                @{
                    <span asp-validation-for="BusinessJustification"  class="text-danger"></span>
                    foreach (string value in justifications)
                    {

                        
                        <label><input class="input-group-sm mx-2" type="checkbox" value="@value.ToString()" name="BusinessJustification[]" />@value.ToString()</label>

                    }

                }
            </div>
         
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="btn btn-outline-secondary">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
